<template>
    <div>
        <item v-for="item in renderList" :key="item.id" :id="item.id" :title="item.title" :status="item.status"></item>    
    </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import item from '@/components/Item.vue';
import { mapGetters } from 'vuex';

@Component({
    components: {
        item,
    },
    computed: {
        ...mapGetters([ // 비동기로 실행됨
            'allTodoList',
            'activeTodoList',
            'clearTodoList',
        ])
    }
})
export default class ItemList extends Vue {
    renderList: any[] = [];

    async created() { // mapGetters 완료된 후
        // this.renderList = this.allTodoList;
        // this.initRenderList(this.$route.params.status);
        this.$store.dispatch('initData');
    }

    initRenderList(status: 'active' | 'clear') {
        if(!status) {
            this.renderList = this.allTodoList;
        } else if(status === 'active') {
            this.renderList = this.activeTodoList;
        } else if(status === 'clear') {
            this.renderList = this.clearTodoList;
        }
    }

    @Watch('$route.params.status')
    routeUpdate(newValue: 'active' | 'clear') {
        // if(!newValue) {
        //     this.renderList = this.data;
        // } else if(newValue === 'active' || newValue === 'clear') {
        //     this.renderList = this.data.slice().filter((item: any) => {
        //         return item.status === newValue;
        //     })
        // }

        // mapGetters 사용
        // if(!newValue) {
        //     this.renderList = this.allTodoList;
        // } else if(newValue === 'active') {
        //     this.renderList = this.activeTodoList;
        // } else if(newValue === 'clear') {
        //     this.renderList = this.clearTodoList;
        // }

        this.initRenderList(newValue);
    }

    @Watch('$store.state.todoList', { deep: true })
    stateUpdate() {
        this.initRenderList(this.$route.params.status)
    }
}
</script>